div{
  font-family: "Helvetica Neue",Helvetica,Arial,;
  color: #777;
}

.carousel-caption .carousel-button{
  font-size: 22px;
  margin-bottom: 4rem;
}
.carousel-caption .caption-header{
  font-size: 40px;
  color: white;
}
.carousel-caption .caption-header > span{
  color: #ff7777;
}

.carousel-caption-right .carousel-button{
  float: right;
}
.carousel-caption-right .caption-header{
  text-align: right;
}

.carousel-caption-left .carousel-button{
  float: left;
}
.carousel-caption-left .caption-header{
  text-align: left;
}

.text-center > img{
  border-radius: 50%;
  margin: 1rem;
}

.text-center > h1{
  margin: 1rem;
  font-size: 30px;
}

.text-center .centerfold-button{
  font-size: 16px;
  margin-bottom: 3rem;
}

.bottom-text > h2{
  font-size: 30px;
  margin-top: 2rem;
}
.bottom-text > h2 > span{
  color: #ff7777;
}
.bottom-text > h3{
  font-size: 20px;
  line-height: 30px;
  font-weight: lighter;
}
.bottom-text-right{
  margin-left: 2rem;
}
