a {
  color: #5a5a5a;
}
a:hover{
  color: #FF7777;
}

.col-lg-4 {
  text-align: center;
}
.col-lg-4 > iframe {
  width: 100%;
}

.col-lg-5 {
  padding-left: 2vw;
  padding-right: 2vw;
}
.col-lg-5 .h2 {
  color: #FF7777;
  margin-top: 27px;
  margin-bottom: 1rem;
}

.col-lg-5 .list-group-item {
  padding: 5px;
}

.container{
  padding-top: 5%;
}
