<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Houston, TX</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="{{ url_for('static', filename='css/carousel.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/city_instance.css') }}" type="text/css" rel="stylesheet">
        
        <!-- <style type="text/css">
         main{
            margin-top: 10px !important;
         }
     </style> -->
        
    </head>
    <body>
        <header>
            <iframe src="../navigation.html?cities" class="navbar" frameborder="0" scrolling="no"></iframe>
        </header>

        <main role="main">

            <div align="center">
                <!-- Header Image-->
                <div class="carousel-item titleImage active">
                    <img class="fourth-slide" src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/05/houston-texas.jpg">
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1><span style>Houston</span> Texas</h1>
                        </div>
                    </div>
                </div>
            </div>   
                


            
            <div class="container">
                <div class="row">
                    <div id="map">
                        <!-- Embeded Google Map-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d443087.54862374195!2d-95.6814867764461!3d29.817478217432342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640b8b4488d8501%3A0xca0d02def365053b!2sHouston%2C+TX!5e0!3m2!1sen!2sus!4v1518562862518" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div id="playlist">
                        <p class = "h2">The Sound of <br>Houston, TX</p>
                        <!-- Embeded Spotify Playlist-->
                        <iframe id="spotify" class="shadow" src="https://embed.spotify.com/?uri=spotify:user:thesoundsofspotify:playlist:7ihMjetICZGO8wxr65fJmx&theme=white" width="450" height="80" frameborder="0" allowtransparency="true"></iframe>
                        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="../songs/song1.html">Mo City Don - Z-Ro</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Tops Drop - Fat Pat</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Barre Baby - Big Mo</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Just A Dog - Big Mo</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Bang Screw - Lil C</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Southside - Lil Keke</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Summertime - Slim Thug</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Anoche Me Enamore - Los Igualdos</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">Pimp Tha Pen - DJ Screw</a></li>
                            <li class="list-group-item"><a href="../songs/song1.html">I Hate You B***h - Z-Ro</a></li>
                        </ul>
                    </div>
                </div>
            <!-- Concert Info -->
            </div>
            <center>
                <div id="concerts">
                    <p class = "h2">Upcoming Concerts</p>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img class="concert-img" src="https://d1marr3m5x4iac.cloudfront.net/images/block250/I0-001/004/042/495-9.jpeg_/foreigner-95.jpeg"/>
                                <p class="concert-text">
                                    <a href="../artists/artist1.html">Foreigner - Juke Box Heroes Tour</a>
                                    <br>Jul 20, 2018 
                                    <br>7:00 PM 
                                    <br>The Cynthia Woods Mitchell Pavilion<br>
                                    <a href="https://houston.eventful.com/events/foreigner-juke-box-heroes-tour-/E0-001-109441061-1" target="_blank">
                                        <span class="badge badge-primary badge-pill">Buy Tickets</span>
                                    </a> 
                                </p>    
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img class="concert-img" src="https://d1marr3m5x4iac.cloudfront.net/images/block250/I0-001/004/292/648-8.jpeg_/kenny-chesney-48.jpeg"/>
                                <p class="concert-text">
                                    <a href="../artists/artist1.html">Kenny Chesney: Trip Around The Sun</a>
                                    <br>May 17, 2018 
                                    <br>7:30 PM 
                                    <br>The Cynthia Woods Mitchell Pavilion<br>
                                    <a href="https://houston.eventful.com/events/kenny-chesney-trip-around-sun-/E0-001-108558737-3" target="_blank">
                                        <span class="badge badge-primary badge-pill">Buy Tickets</span>
                                    </a> 
                                </p>
                                
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img class="concert-img" src="https://d1marr3m5x4iac.cloudfront.net/images/block250/I0-001/039/765/474-0.jpeg_/taylor-swift-74.jpeg"/>
                                <p class="concert-text">
                                    <a href="../artists/artist1.html">Taylor Swift</a>
                                    <br>Sep 29,2018 
                                    <br>7:00 PM 
                                    <br>NRG Stadium<br>
                                    <a href="https://houston.eventful.com/events/taylor-swift-/E0-001-108684085-3" target="_blank">
                                        <span class="badge badge-primary badge-pill">Buy Tickets</span>
                                    </a> 
                                </p>
                                
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img class="concert-img" src="https://d1marr3m5x4iac.cloudfront.net/images/block250/I0-001/003/940/877-9.jpeg_/yanni-77.jpeg"/>
                                <p class="concert-text">
                                    <a href="../artists/artist1.html">Yanni</a>  
                                    <br>Jun 16, 2018 
                                    <br> 8:00 PM 
                                    <br>The Smart Financial Centre at Sugar Land<br>
                                    <a href="https://houston.eventful.com/events/yanni-/E0-001-109666600-1" target="_blank">
                                        <span class="badge badge-primary badge-pill">Buy Tickets</span>
                                    </a> 
                                </p>                
                                
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img class="concert-img" src="https://d1marr3m5x4iac.cloudfront.net/images/block250/I0-001/001/219/398-6.jpeg_/mercyme-98.jpeg"/>
                                <p class="concert-text">
                                    <a href="../artists/artist1.html">MercyMe</a>
                                    <br>Feb 23, 2018 
                                    <br>7:30 PM 
                                    <br>The Smart Financial Centre at Sugar Land<br>
                                    <a href="https://houston.eventful.com/events/mercyme-/E0-001-108421910-1" target="_blank">
                                        <span class="badge badge-primary badge-pill">Buy Tickets</span>
                                    </a>
                                </p>
                                 
                            </li>
                        </ul>
                </div>
                </center>
            <br>
            <br>
            


        
        <!-- FOOTER -->
        <iframe src="../footer.html" class="footer" frameborder="0" scrolling="no"></iframe>

        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
