<!doctype html>
<html lang="en">
	<head>
        <title>All Artists</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <link href="{{ url_for('static', filename='css/modelpage.css') }}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/carousel.css') }}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
	</head>
	
	<body>

		<header>
            <iframe src="../navigation.html?artists" class="navbar" frameborder="0" scrolling="no"></iframe>
        </header>

		<main role="main">
            <div align="center">
                
                <div class="carousel-item titleImage active">
                    <img class="second-slide" src="{{ url_for('static', filename='images/carousel22.jpg') }}" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1><span>Explore</span> your favorite artists.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        </div>
               
                
                <hr></hr>
            <h1>Artists</h1>
            </div>
            
			<div class="container">
                <hr></hr>
            </div>
            <div class="container2 marketing">
				<!-- Four columns of text below the carousel -->
				<div class="row">
                    <div class="col-lg-2">
                        <div class="ingrid" text-align="center">
						  <img class="rounded-circle" src="{{ url_for('static', filename='images/kesha2.jpg') }}" alt="Generic placeholder image" width="140" height="140">
						  <h2>Kesha</h2>
						  <p>A brash and driven pop singer/songwriter, Kesha was born in Los Angeles but moved to Nashville...</p>
						  <p><a class="btn btn-secondary" href="artists/artist1.html" role="button">View Kesha &raquo;</a></p>
                        </div>
					</div><!-- /.col-lg-4 -->
                    
					<div class="col-lg-2">
                        <div class="ingrid" text-align="center">
						  <img class="rounded-circle" src="{{ url_for('static', filename='images/travis2.jpg') }}" alt="Generic placeholder image" width="140" height="140">
                          <h2>Travis Scott</h2>
						  <p>Travis Scott is the stage name of Jacques Webster, a Houston-born hip-hop artist and producer...</p>
						  <p><a class="btn btn-secondary" href="artists/artist2.html" role="button">View Travis Scott &raquo;</a></p>
					    </div>
                    </div><!-- /.col-lg-4 -->
                    
					<div class="col-lg-2">
                        <div class="ingrid" text-align="center">
						  <img class="rounded-circle" src="{{ url_for('static', filename='images/khalid2.jpg') }}" alt="Generic placeholder image" width="140" height="140">
						  <h2>Khalid</h2>
						  <p>Combining a voice that sounds made for classic soul with cutting-edge music, Khalid is a singer/songwriter...</p>
						  <p><a class="btn btn-secondary" href="artists/artist3.html" role="button">View Khalid &raquo;</a></p>
                        </div>
					</div><!-- /.col-lg-4 -->
                    

                    
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


				<!-- START THE FEATURETTES -->

            <div class="container">
                <hr></hr>
            </div>

            <hr></hr>
			<!-- FOOTER -->
			<iframe src="../footer.html" class="footer" frameborder="0" scrolling="no"></iframe>
		</main>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
