<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link href="{{ url_for('static', filename='css/carousel.css') }}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<div class="container">
		<h1>MusePy API</h1>
		<br/>
		<div class="container">
			<h4>api.musepy.me/song</h4>
			<p>Returns all Songs</p>
			<h4>api.musepy.me/song/songID</h4>
			<p>Returns one Song</p>

			<h4>api.musepy.me/artist</h4>
			<p>Returns all Artists</p>
			<h4>api.musepy.me/artist/artistID</h4>
			<p>Returns one Artist</p>

			<h4>api.musepy.me/album</h4>
			<p>Returns all Albums</p>
			<h4>api.musepy.me/album/albumID</h4>
			<p>Returns one Albums</p>

			<h4>api.musepy.me/city</h4>
			<p>Returns all Cities</p>
			<h4>api.musepy.me/city/cityID</h4>
			<p>Returns one City</p>
		</div></div>
	</body>
</html>
