<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link href="assets/css/main.css" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<br>
		<footer class="container">
			<p class="float-right"><a href="#">Back to top</a></p>
			<p>&copy; 2018 Requiem For Our Dreams. &middot; <a href="https://github.com/ccmmaa/idb" target="_parent">Github</a> &middot; <a href="#">Terms</a></p>
		</footer>
		<br>
	</body>
</html>
