<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/album_instance.css') }}" type="text/css" rel="stylesheet">
        <title>Birds in the Trap Sing McKnight - Travis Scott</title>
    </head>

    <body>
        <header>
        <iframe src="../navigation.html?albums" class="navbar" frameborder="0" scrolling="no"></iframe>
        
        <main role="main">
            <!-- Actual Content Here -->

            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{{ url_for('static', filename='images/travis_scott_album.jpg') }}" alt="Album Art Needed" class="img-thumbnail">
                            <p class="h1">Birds in the Trap Sing McKnight</p>
                            <p class="h3"><a href="../artists/artist2.html">Travis Scott</a></p>
                        </div>

                        <div class="col-lg-5">
                                <p class = "h2">Song List</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="../artists/song_error.html">the ends</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">way back</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">coordinate</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">through the late night</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">Beibs in the Trap</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">sdp interlude</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">sweet sweet</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">outside</a></li>
                                    <li class="list-group-item"><a href="../songs/song2.html">Goosebumps</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">first take</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">Pick Up the Phone</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">lose</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">guidance</a></li>
                                    <li class="list-group-item"><a href="../artists/song_error.html">wonderful</a></li>
                                  </ul>
                        </div>
                        <div class="col-lg-3">
                            <p class="h6"><span style="color: #FF7777">Genre:</span> Hip hop</p>
                            <p class="h6"><span style="color: #FF7777">Released:</span> September 2, 2017</p>
                            <p class="h6"><span style="color: #FF7777">Label:</span> Grand Hustle, Epic</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>


        
        <!-- FOOTER -->
        <iframe src="../footer.html" class="footer" frameborder="0" scrolling="no"></iframe>

        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
