<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <link href="../assets/css/main.css" type="text/css" rel="stylesheet">
            <link href="../assets/css/album_instance.css" type="text/css" rel="stylesheet">
        <title>American Teen - Khalid</title>
    </head>

    <body>
        <header>
        <iframe src="../navigation.html?albums" class="navbar" frameborder="0" scrolling="no"></iframe>
        
        <main role="main">
            <!-- Actual Content Here -->

            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="../images/khalid_americanteen.jpg" alt="Album Art Needed" class="img-thumbnail">
                            <p class="h1">American Teen</p>
                            <p class="h3"><a href="../index.html">Khalid</a></p>
                        </div>

                        <div class="col-lg-5">
                                <p class = "h2">Song List</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="#">American Teen</a></li>
                                    <li class="list-group-item"><a href="#">Young Dumb &amp Broke</a></li>
                                    <li class="list-group-item"><a href="#">Location</a></li>
                                    <li class="list-group-item"><a href="#">Another Sad Love Song</a></li>
                                    <li class="list-group-item"><a href="#">Saved</a></li>
                                    <li class="list-group-item"><a href="#">Coaster</a></li>
                                    <li class="list-group-item"><a href="#">8TEEN</a></li>
                                    <li class="list-group-item"><a href="#">Let's Go</a></li>
                                    <li class="list-group-item"><a href="#">Hopeless</a></li>
                                    <li class="list-group-item"><a href="#">Cold Blooded</a></li>
                                    <li class="list-group-item"><a href="#">Winter</a></li>
                                    <li class="list-group-item"><a href="#">Therapy</a></li>
                                    <li class="list-group-item"><a href="#">Keep Me</a></li>
                                    <li class="list-group-item"><a href="#">Shot Down</a></li>
                                    <li class="list-group-item"><a href="#">Angels</a></li>
                                  </ul>
                        </div>
                        <div class="col-lg-3">
                            <p class="h6"><span style="color: #FF7777">Genre:</span> Alternative R&ampB</p>
                            <p class="h6"><span style="color: #FF7777">Released:</span> March 3, 2017</p>
                            <p class="h6"><span style="color: #FF7777">Label:</span> Right Hand, RCA, Columbia</p>

                        </div>

                    </div>
                </div>
                <br>
                <br>
            </div>


        
        <!-- FOOTER -->
        <iframe src="../footer.html" class="footer" frameborder="0" scrolling="no"></iframe>

        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
