<!doctype html>
<html lang="en">
    <title>All Albums</title>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <link href="{{ url_for('static', filename='css/modelpage.css') }}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/carousel.css') }}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
	</head>
	
	<body>

		<header>
            <iframe src="../navigation.html?albums" class="navbar" frameborder="0" scrolling="no"></iframe>
        </header>

		<main role="main">
            <div align="center">
                
                <div class="carousel-item titleImage active">
                    <img class="third-slide" src="{{ url_for('static', filename='images/carousel3.jpg') }}" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1><span style>Discover</span> new albums.</h1>
                            </div>
                        </div>
                        </div>
               
                
                <hr></hr>
            <h1>Albums</h1>
            </div>
            
			<div class="container">
                <hr></hr>
            </div>
            <div class="container2 marketing">
				<!-- Four columns of text below the carousel -->
				<div class="row">
                    <div class="col-lg-2">
                        <div class="ingrid" text-align="center">
						  <img class="rounded-circle" src="{{ url_for('static', filename='images/kesha_rainbow.jpg') }}" alt="Generic placeholder image" width="140" height="140">
						  <h2>Rainbow</h2><h6>by Kesha</h6>
						  <p><a class="btn btn-secondary" href="album1.html" role="button">View Rainbow &raquo;</a></p>
                        </div>
					</div><!-- /.col-lg-4 -->
                    
					<div class="col-lg-2">
                        <div class="ingrid" text-align="center">
						  <img class="rounded-circle" src="{{ url_for('static', filename='images/travis_scott_album.jpg') }}" alt="Generic placeholder image" width="140" height="140">
                          <h2>Birds in the Trap<br> Sing McKnight</h2><h6>by Travis Scott</h6>
						  <p><a class="btn btn-secondary" href="album2.html" role="button">View Birds in the Trap... &raquo;</a></p>
					    </div>
                    </div><!-- /.col-lg-4 -->
                    
					<div class="col-lg-2">
                        <div class="ingrid" text-align="center">
						  <img class="rounded-circle" src="{{ url_for('static', filename='images/khalid_americanteen.jpg') }}" alt="Generic placeholder image" width="140" height="140">
						  <h2>American Teen</h2><h6>by Khalid</h6>
						  <p><a class="btn btn-secondary" href="album3.html" role="button">View American Teen &raquo;</a></p>
                        </div>
					</div><!-- /.col-lg-4 -->
                    

                    
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


				<!-- START THE FEATURETTES -->

            <div class="container">
                <hr></hr>
            </div>

            <hr></hr>
			<!-- FOOTER -->
			<iframe src="../footer.html" class="footer" frameborder="0" scrolling="no"></iframe>
		</main>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
