.lyricsCol, .mediaCol {
	display:inline-block;
	vertical-align: top;
}
.lyricsCol {
	width: 54%;
	padding-right: 0.5vw;
}
.mediaCol {
	width: 44%;
	padding-left: 1vw;
	padding-right: 1vw;
}
.songPlayer {
	height: 30vw;
	width: 100%;
}
.row {
	vertical-align: top;
}