h2{
  margin-left: 11px;
}
.row > div{
	display: inline-block;
  text-align: left;
}

.col-lg-2{
  vertical-align: top;
}

.artistInstanceCarousel .carousel-item{
  height: 20rem;
}

.artistImage {
	width: 12rem;
}
.orange {
	color: #FF7777!important;
}
