.carousel-caption .carousel-button{
  font-size: 22px;
  margin-bottom: 2rem;
}
.carousel-caption .caption-header{
  font-size: 40px;
  color: white;
}
.carousel-caption .caption-header > span{
  color: #ff7777;
}

.carousel-caption-right .carousel-button{
  float: right;
  margin-bottom: 52px;
}
.carousel-caption-right .caption-header{
  text-align: right;
}

.carousel-caption-left .carousel-button{
  float: left;
  margin-bottom: 52px;
}
.carousel-caption-left .caption-header{
  text-align: left;
}

.carousel-indicators{
  margin-bottom: 2rem;
}
