a {
	color: #5a5a5a;
}
a:hover{
	color: #FF7777;
}

#map, #playlist{
	padding: 1vw;
	display:inline-block;
	vertical-align: top;
}
#playlist{
	width: 55%;
	text-align: center;
	padding-left: 3vw;
}
#map{
	padding-top: 3vw;
	width: 40%;
	height:30vw;
	margin-left: 2vw;
}

#concerts{
	padding-top: 2vw;
	width: 55%;
}
.row{
	text-align: center;
	padding:0 0 0 1% ;
}

.badge{
	background-color: #ff7777;
}

.container{
	width: 80%;
}
.h2{
	color:#FF7777;
}
.shadow{
	box-shadow: 2px 2px 1px grey;
}
.concert-img{
	height: 200px;
}
.concert-text{
	width: 300px;
	margin:0 10%;
 }
 .concert-text a{
	color:#ff7777;
 }
 .mapIframe {
	border:0px;
	border:4px solid grey;
 }

 div {
/*	border: 1px solid red;
*/ }

.citySongList {
	max-height: 50vw;
	overflow-y: scroll;
}